{% set server =  hostvars[ansible_host].host_ip | default (hostvars[ansible_host]['ansible_default_ipv4']['address']) %}

ETCD_NAME="{{ ansible_hostname }}"
ETCD_LISTEN_CLIENT_URLS="{{ etcd_protocol }}://{{ server }}:2379,{{ etcd_protocol }}://127.0.0.1:2379"
ETCD_ADVERTISE_CLIENT_URLS="{{ etcd_protocol }}://{{ server }}:2379"
ETCD_LISTEN_PEER_URLS="{{ etcd_protocol }}://{{ server }}:2380"
ETCD_INITIAL_ADVERTISE_PEER_URLS="{{ etcd_protocol }}://{{ server }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="{{ etcd_cluster_name }}"
ETCD_INITIAL_CLUSTER="{% for etc_host in groups['etcd_cluster'] %}{{ hostvars[etc_host]['ansible_hostname'] }}={{ etcd_protocol }}://{{ hostvars[etc_host].host_ip | default (hostvars[etc_host]['ansible_default_ipv4']['address']) }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_DATA_DIR="{{ etcd_data_dir }}"
ETCD_ELECTION_TIMEOUT="{{ etcd_election_timeout }}"
ETCD_HEARTBEAT_INTERVAL="{{ etcd_heartbeat_interval }}"
ETCD_INITIAL_ELECTION_TICK_ADVANCE="{{ etcd_initial_election_tick_advance }}"
{% for item in etcd_add_config %}
{{ item }}
{% endfor %}